@import "bootstrap";

body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}


.caption {
  text-align: center;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

.image_logo {
     margin-left: 2em;
     font-size: larger;
   }

.navbar-default .navbar-nav > li  {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #0192B5;
}

.jumbotron {
	border: 1px solid #f2cb3b;
	font-weight: bold;

	.btn-primary {
	color: #F5F5F5
	}
}

.container-fluid {
	padding: 10px 120px
}

.right_display {
      float: right
}
